/* Debian language css file for esperanto - eo */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes */
html[lang=eo] q:before { content: "\201C"; }
html[lang=eo] q:after { content: "\201D"; }

html[lang=eo] blockquote.quote p:first-child:before { content: "\201C"; }
html[lang=eo] blockquote.quote p:after { content: ""; }
html[lang=eo] blockquote.quote p.last:after { content: "\201D"; }
